/* Move down content because we have a fixed navbar that is 3.5rem tall */

.ck-editor{
  width: 100% !important;
}

body {
  padding-top: 83px;
  font-family: 'sofia-pro', sans-serif;
  color: #3d4852;
  background-color: #f2f2f2;
}

body a {
  color: #3da0f1;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 106.5%;
  color: #000000;
}

h3 {
  font-size: 25px;
}

.h3_subtitle {
  font-size: 17px;
  line-height: 133.3%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #000000;
}

h2, h3, h4, h5 {
  font-weight: 700;
  color: #000;
}

p {
  line-height: 1.7em;
  font-size: 18px;
}

.site-logo__extra-text {
  position: relative;
  top: 3px;
  font-weight: 100;
}

.site-logo img {
  height: 45px;
}

.site-logo {
  position: relative;
}
.site-logo .logo-beta {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 12px;
  letter-spacing: 1px;
  top: 5px;
  color: #59bbab;
}

.gray-background {
  background-color: #f2f2f2;
}

.video-container {
  position: relative;
}

.video-container__video-wrapper {
  position: relative;
  padding-bottom: 57%;
  width: 100%;
}

.video-container__video-wrapper iframe,
.video-container__video-wrapper video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.navbar-dark .navbar-toggler {
  border: none !important;
}

/*==== Main Wrapper ====*/

.main-wrapper {
  padding: 20px 0 50px;
}

/* custom navigation color */

.homepage-header {
  background-color: #fff;
}

.homepage-header h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1em;
  color: #000;
}

@media (min-width: 600px) {
  .homepage-header h1 {
    font-size: 40px;
    padding-right: 0%;
  }
}

@media (min-width: 1024px) {
  .homepage-header h1 {
    font-size: 45px;
    padding-right: 0%;
  }
}

.homepage-header-container__wrapper {
  padding: 5%;
  width: 100%;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: top right -250px;
  background-size: 50%;
  background-image: url('/images/home-bg-blobs.svg');
}

@media (min-width: 500px) {
  .homepage-header-container__wrapper {
    background-position: top right -170px;
  }
}

@media (min-width: 900px) {
  .homepage-header-container__wrapper {
    background-position: top right -80px;
  }
}

.homepage-header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  max-width: 1240px;
  margin: 0 auto;
}

@media (min-width: 1070px) {
  .homepage-header-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.homepage-header-container__left, .homepage-header-container__right {
  width: 100%;
  text-align: center;
}

.homepage-header-container__right {
  margin-top: 5%;
}

@media (min-width: 1070px) {
  .homepage-header-container__left { 
    padding-right: 30px;
  }
  .homepage-header-container__right {
    margin-top: 0;
  }
  .homepage-header-container__left, .homepage-header-container__right {
    width: 50%;
    text-align: left;
  }
}

.homepage-header-container__explainer-video {
  width: 100%;
  padding-bottom: 57.7%;
  position: relative;
}

.homepage-header-container__explainer-video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.homepage-header-container__subline {
  font-size: 23px;
  padding: 15px 0;
  line-height: 1.3em;
  margin: 0px;
}

@media (min-width: 1024px) {
  .homepage-header-container__subline {
    
  }
}

.arrow__link {
  font-weight: 600;
  font-size: 18px;
  color: #008060;
}

.arrow__link svg {
  width: 23px;
  height: 23px;
  margin-left: 10px;
  fill: #008060;
}

.hero__image {
  width: 100%;
  padding-bottom: 80%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media (min-width: 1100px) {
  .hero__image {
    width: 45%;
    padding-bottom: 40%;
  }
}

@media (min-width: 1560px) {
  .hero__image {
    width: 40%;
    padding-bottom: 40%;
  }
}

.hero__search-bar {
  margin-top: 30px;
}

.hero__search-bar--field, .inner-search__wrapper {
  position: relative;
  width: 100%;
}

#search-results {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 40;
  top: 60px;
  border: 1px solid #aaa;
  background-color: #fff;
  text-align: left;
}

#search-results ul li {
  cursor: pointer;
  list-style: none;
  padding: 12px;
  padding-left: 16px;
}

#search-results ul {
  margin-bottom: 0;
  padding: 0;
}

#search-results .search--header {
  text-transform: capitalize;
  margin: 12px 0 8px 12px;
  font-size: 12px;
}
#search-results .no--result {
  margin: 12px 0 8px 12px;
  font-size: 16px;
}

#search-results ul li:hover {
  background-color: #fff8f6;
}

#search-results ul li a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

#search-results ul li a h5 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}

#search-results .search-match {
  color: #007bff;
  opacity: 0.8;
}

#search-results #all-result {
  margin: 0 !important;
  border-radius: 0px;
}

#search-results ul li a p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

@media (min-width: 500px) {
  .hero__search-bar--field, .hero__search-bar--button {
    display: inline-block;
  }
  .hero__search-bar--field {
    width: 60%;
  }
}

.hero__search-bar--button input {
  border: 0px !important;
  color: white;
  margin-top: 5px;
}

@media (min-width: 500px) {
  .hero__search-bar--button input {
    margin-left: 15px;
    margin-top: 0px;
  }
}

.form-control {
  height: calc(3.25rem + 2px);
  border: 1px solid #aaa !important;
}

.bg-dark {
  background-color: #000032 !important;
}

.bordered-rounded {
  border: 1px solid rgba(0, 0, 0, .125);
}

.text-mov {
  color: #000032;
}

.text-bold {
  font-weight: bold;
}

.inline {
  display: inline;
}

.navbar {
  padding: 15px;
  font-size: 17px;
  background-color: #002e25;
}

.navbar-business {
  background-color: #0c1916;
}

.navbar-dark .navbar-nav .nav-link {
  color: #b1b1b1 !important;
  font-size: 16px;
}

.navbar-nav .active .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: white !important;
}

.nav-item-bordered {
  border: 1px solid #f1f1f1;
}

.nav-for-businesses {
  position: relative;
  width: 100%;
}

.nav-for-businesses a {
  background-color: #18806f;
  color: white;
  padding: 10px 12px 12px;
  font-size: 16px;
  border-radius: 3px;
  display: block;
}

.for-businesses__how-it-works {
  background-color: #f2f2f2;
  padding: 40px 0;
  margin-top: 50px;
}

@media (min-width: 992px) {
  .nav-for-businesses {
    width: auto;
  }
  .nav-for-businesses a {
    display: inline-block;
  }
}

.active-side {
  text-decoration: underline;
}

.no-padding {
  padding: 0 !important;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.8rem !important;
  }
}

.card {
  border: none;
  padding: 30px 20px 30px 20px;
}

.user-thumb {
  width: 50px;
  height: 50px;
}

.username {
  display: block;
  font-size: 16px;
}

.table td {
  color: #6c757d;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.search-padding {
  padding: 30px;
}

.search-btn-padding {
  padding: 19px;
}

.inner-search {
  padding: 20px 0 0 0;
  background-color: #f2f2f2;
  text-align: center;
}

.inner-search__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.inner-search__search-box {
  display: inline-block;
  width: calc(100% - 115px);
  vertical-align: middle;
  position: relative;
}

.inner-search .btn {
  padding: 13px 15px;
  margin-left: 10px;
  background-color: #18806f;
  border-color: #18806f;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}

/* === For Businesses Page === */

.for-businesses-page {
  background-color: white;
  margin: -40px auto -50px;
  padding: 40px 0 20px;
}

.for-businesses__main-points {
  text-align: center;
  vertical-align: middle;
  text-align: left;
}

.for-businesses__main-points ul {
  list-style: none;
  padding: 0px;
}

.for-businesses__main-points ul li {
  font-size: 20px;
  margin: 15px 0;
  color: black; 
}

.for-businesses__main-points i {
  color: #008060;
  font-size: 20px;
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

@media (min-width: 600px) {
  .for-businesses__main-points ul li {
    font-size: 25px;
  }

  .for-businesses__main-points i {
    font-size: 30px;
    margin-right: 10px;
    width: 30px;
  }
}

.for-businesses__main-points span {
  display: inline-block;
  width: calc(100% - 45px);
  vertical-align: top;
}

/* === Success Page === */

.success-page__wrapper {
  max-width: 700px;
  margin: 0 auto;
}

/* === Manage Company Page === */

.manage-company__logo-wrapper,.my-profile__imgage-wrapper {
  margin: 15px 0;
  max-width: 300px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 3px;
}

.manage-company__logo-wrapper img ,.my-profile__imgage-wrapper img{
  display: block;
  width: 100%;
}

/* === Footer === */

.site-footer {
  background-color: #0c1916;
  padding: 50px;
}

.site-footer a {
  color: white;
}

.site-footer__menu {
  margin-top: 30px;
}

.site-footer__menu .col {
  margin-top: 20px;
}

.site-footer__menu h4, .site-footer__menu p {
  color: white;
}

.site-footer__menu ul {
  list-style: none;
  padding: 0px;
}

.site-footer__menu li {
  margin-bottom: 5px;
}

.site-footer__copyright {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #3e6766;
}

.site-footer__select-language h5 {
  color: white;
  margin-bottom: 15px;
}

.site-footer__select-language select {
  background-color: white;
  border: 1px solid white;
  padding: 5px 10px;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.8px;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.height-350 {
  height: 350px;
}

.white {
  color: white;
}

.text-right {
  text-align: right;
}

.promote-tr {
  background: rgba(0, 0, 0, .075);
}

.promote-tr td {
  color: #cc0000;
}

.promote-profile {
  color: #cc0000;
}

section.pricing {}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: #000032 !important;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #000032;
}

.text-star {
  display: none;
  max-width: 75px;
  margin: 0px;
  text-align: center;
  line-height: 1.3em;
}

label {
  cursor: pointer;
}

svg {
  width: 75px;
  height: 75px;
  padding: 0;
}

/* hide radio buttons */

input[name="star"] {
  display: inline-block;
  width: 0;
  opacity: 0;
  margin-left: -2px;
}

/* hide source svg */

.star-source {
  width: 0;
  height: 0;
  visibility: hidden;
}

/* set initial color to transparent so fill is empty*/

.star {
  color: #B0BEC5;
  transition: color 0.2s ease-in-out;
}

/* set direction to row-reverse so 5th star is at the end and ~ 
  can be used to fill all sibling stars that precede last starred element
  */

.star-container {
  height: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

label:hover~label .star, svg.star:hover, input[name="star"]:focus~label .star, input[name="star"]:checked~label .star {
  color: #fec105;
}

input[name="star"]:checked+label .star {
  animation: starred 0.5s;
}

input[name="star"]:checked+label {
  animation: scaleup 1s;
}

@keyframes scaleup {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes starred {
  from {
    color: #fec105;
  }
  to {
    color: #fec105;
  }
}

ul.list-categories {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

ul.list-categories li {
  width: 100%;
  list-style: none;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: left;
}

@media (min-width: 768px) {
  ul.list-categories li {
    width: 45%;
  }
}

@media (min-width: 992px) {
  ul.list-categories li {
    width: 30%;
  }
}

ul.list-categories li span {
  display: inline-block;
  vertical-align: top;
}

.list-categories__count {
  font-size: 14px;
  line-height: 28px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  color: white;
  background-color: #007bff;
}

.list-categories__title {
  padding-left: 10px;
  width: calc(100% - 50px);
}

.no-hover {
  text-decoration: none;
}

.no-hover:hover {
  text-decoration: none;
}

/* === Home Page === */

.image-with-rating__image {
  display: inline-block !important;
  width: 35px;
  vertical-align: middle;
}

.image-with-rating__rating {
  display: inline-block;
  margin-left: 5px;
  width: 125px;
  vertical-align: middle;
}

.image-with-rating__rating .rating-star {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
}

.reviewee {
  font-size: 14px;
  color: #aaa;
  margin: 10px 0;
}

.reviewee strong, .reviewee a {
  color: #333;
  font-weight: 800;
}

/* How it works */

.how-it-works {
  background-color: #fff8f6;
  padding: 20px 0px;
}

@media (min-width: 600px) {
  .how-it-works {
    padding: 50px 10px;
  }
}

.how-it-works .row {
  margin: 30px auto 0;
}

.how-it-works img {
  max-height: 150px;
  margin-bottom: 30px;
}

.how-it-works {
  vertical-align: middle;
}

.how-it-works__step {
  vertical-align: middle;
  color: white;
  background-color: #18806f;
  width: 40px;
  display: inline-block;
  height: 40px;
  padding: 0px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 35px;
}

.how-it-works__title {
  vertical-align: middle;
  display: inline-block;
  padding-left: 50px;
  text-align: left;
}

/* Latest Reviews */

.latest-reviews {
  background-color: #f2f2f2;
  padding-bottom: 50px;
}

.latest-reviews h2 {
  padding: 50px 0 !important;
}

.latest-reviews img {
  display: inline-block !important;
}

.latest-reviews .slick-list {
  padding: 0 20% 30px 0 !important;
}

.latest-reviews .slick-track {
  padding-left: 15px;
}

.latest-reviews__slide {
  padding: 0 15px;
}

.latest-reviews__slide p {
  line-height: 1.4em;
  font-size: 16px;
  margin: 0px;
}
.latest-reviews__slide p:first-of-type {
  flex: 1;
  overflow: hidden;
}
.latest-reviews__slide .card {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.latest-reviews__slide .arrow__link {
  font-size: 15px;
  margin-top: 10px;
}

.latest-reviews__slide .arrow__link svg {
  width: 18px;
  height: 18px;
}

.colored-box {
  padding: 5% 10%;
  background-color: #fff;
  display: block;
}

.colored-box .subline {
  font-size: 18px;
  margin: 30px auto 0;
  max-width: 1000px;
}

.colored-box .btn {
  margin-top: 30px;
  color: white !important;
}

.colored-box svg {
  height: 35px;
  margin: 20px 0;
  fill: #c1f0d0;
}

.colored-box__columns h4 {
  color: #fff;
  font-size: 20px;
  margin: 10px 0 20px;
}

.colored-box__columns p {
  color: #fff;
  font-size: 16px;
}

.colored-box__columns {
  margin-top: 50px;
  text-align: left;
  padding: 50px;
  background-color: #004c3f;
}

.colored-box__read-more {
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin-left: 15px;
}

.colored-box__read-more svg {
  width: 23px;
  fill: white;
}

/* === Inner Page === */

.inner-page {
  padding-bottom: 50px;
}

.inner-page__title {
  margin: 0px auto;
  padding: 3% 0;
  max-width: 900px;
}

.inner-page__subtitle {
  font-size: 24px;
  font-weight: 300;
}

/* === Inner Page === */

.company-page__general-rating-wrapper {
  margin-bottom: 20px;
}

.company-page__individual-rating-wrapper {
  padding-bottom: 20px;
}

.company-page__general-rating, .company-page__individual-rating {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
}

.company-page__general-rating {
  width: 250px;
  height: 50px;
}

.company-page__individual-rating .rating-star, .company-page__general-rating .rating-star {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
}

.company-page__general-rating .rating-star {
  width: 50px;
  height: 50px;
}

.rating-stars__wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.rating-stars__no-rating {
  position: absolute;
}

.rating-stars__has-rating {
  position: relative;
  z-index: 2;
}

.rating-star svg {
  width: auto;
  height: 100%;
  vertical-align: top;
}

.rating-star__poor svg path {
  fill: #BF2E1D;
}

.rating-star__average svg path {
  fill: #FF8622;
}

.rating-star__good svg path {
  fill: #FFCE00;
}

.rating-star__very-good svg path {
  fill: #73CF12;
}

.rating-star__excellent svg path {
  fill: #18806F;
}

.company-page__individual-rating-count, .company-page__general-rating-count {
  display: inline-block;
  vertical-align: middle;
}

.company-page__reviewee-info img {
  width: 40px;
  height: 40px;
}

.company-page__reviewee-name {
  font-size: 15px;
  line-height: 1.3em;
  padding-left: 10px;
}

.company-page__reviewee-review-date {
  font-size: 13px;
}

.company-page__company-reply {
  border-left: 3px solid #18806f;
  background-color: #e9f9f6;
  padding: 15px;
}

.company-page__company-image-wrapper {
  height: 100%;
  border-radius: 5px;
  position: relative;
}

.company-page__company-image-wrapper i {
  font-size: 50px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -25px;
  color: #bbb;
}

.company-page__company-image-wrapper img {
  position: relative;
  z-index: 2;
}

/* === Subscription Plans Page === */

.subscription-plans__page {
  background-color: #fff8f6;
}

.subscription-plans__plan .card {
  padding: 25px;
  border: 1px solid #eee;
}

.subscription-plans__plan .the-price {
  font-size: 45px;
  font-weight: 600;
}

.subscription-plans__plan .the-price .subscript {
  font-size: 20px;
  font-weight: 300;
  padding-left: 5px;
}

.subscription-plans__plan .panel-footer a {
  display: block;
  white-space: pre-wrap;
}

.subscription-plans__plan .panel-footer p {
  margin: 0;
  font-size: 14px;
  font-style: italic;
}

.subscription-plans__choose-company {
  background-color: #f1e5e2;
  margin: 30px 0;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.subscription-plans__benefits {
  list-style: none;
  padding-left: 0px;
}

.subscription-plans__benefits .row div {
  margin-top: 20px;
}

.subscription-plans__benefits i {
  padding-right: 10px;
  color: #18806f;
  display: inline-block;
  vertical-align: top;
  top: 5px;
  position: relative;
}

.subscription-plans__benefits span {
  display: inline-block;
  width: calc(100% - 30px);
  vertical-align: top;
}

/* === Companies List Page (Browse Categories) === */
.companies-list-page__company-card * {
  text-decoration: none !important;
}

.companies-list-page__company-card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, .2);
}

.companies-list-page__company-card p,
.companies-list-page__company-card span,
.companies-list-page__company-card h6 {
  color: #333;
}

.companies-list-page__company-card small {
  line-height: 1em;
}

.companies-list-page__company-rating {
  display: inline-block;
  vertical-align: top;
  width: 125px;
}

.companies-list-page__company-rating .rating-star {
  display: block;
  width: 25px;
  height: 25px;
  float: left;
}

.companies-list-page__company-review h6 {
  line-height: 1.3em;
  font-size: 15px;
  font-weight: bold;
  color: #888;
}

.companies-list-page__company-review p {
  line-height: 1.3em;
  font-size: 13px;
  color: #888;
}

.companies-list-page__company-location {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

/* === Payment Methods Page === */

.payment-methods__cards {
  margin-top: 30px;
}

.payment-methods__cards img {
  width: 50px;
  margin: 0 5px;
}

/* === Authentication Page === */
.authentication__title {
  margin: 0px;
  text-align: center;
}

.authentication button {
  width: 100%;
  padding: 10px;
}

.authentication button svg {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 25px;
  top: 50%;
  margin-top: -15px;
}

.authentication__alternative-divider {
  margin: 20px 0;
  position: relative;
  text-align: center;
}

.authentication__alternative-divider:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #ddd;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.authentication__alternative-divider span {
  background-color: white;
  padding: 0 10px;
  display: inline-block;
  position: relative;
  z-index: 2;
  text-transform: lowercase;
}

/*==== Subscribe to Otzivio Panel ====*/

.subscribe-to-otzivio-panel {
  background-color: #FFF8F6;
  padding: 50px;
  margin-bottom: 30px;
}

.subscribe-to-otzivio-panel .content {
  margin: auto;
  max-width: 900px;
}

/* === Overrides === */

html .btn-success {
  background-color: #18806f;
  border-color: #18806f;
}


/* afs styles */

.afs-codes .card-body{
  display: flex;
  flex-direction: column;
}