<template>

   <div>
        <div class="row">
            <div class="col-md-12">

            <div class="form-group">
                <label for="sender-name">{{ trans('Invitation Email Subject') }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="subject-name"
                  required
                  v-model="localSettings.invitation_email_subject"
                />
            </div>
 
            <div class="form-group mt-2">
                <label for="sender-name">{{ trans('Invitation Email Body') }}</label>
                <div class="input-group mb-3">
                        <ckeditor
                            :editor="editor"
                            v-model="localSettings.invitation_email_template"
                            :config="editorConfig"
                            @ready="onReadyEditor1"
                    ></ckeditor>
                </div>
            </div>
            <div class="form-group">
                <label for="sender-name">{{ trans('Reminder Email Subject') }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="subject-name"
                  required
                  v-model="localSettings.reminder_email_subject"
                />
            </div>
 
            <div class="form-group mt-2">
                <label for="sender-name">{{ trans('Reminder Email Body') }}</label>
                <div class="input-group mb-3">
                        <ckeditor
                            :editor="editor"
                            v-model="localSettings.reminder_email_template"
                            :config="editorConfig"
                            @ready="onReadyEditor2"
                        ></ckeditor>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-0 pb-0 d-flex justify-content-end">
                    <!-- <button class="btn btn-outline-success mr-2 d-flex align-items-center" :disabled="isLoading" @click="sendEmbedData()">
                            <span>{{ trans('Show preview of email') }}</span>
                    </button> -->
                    <button class="btn btn-success d-flex align-items-center" @click="updateEmailTemplate" :disabled="isLoading">
                            <span>{{ trans('Update') }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

        <!-- email preview model -->
        <div class="row m-0 p-0">
        <modal name="email-preview" width="800px" height="800px">
            <div class="d-flex justify-content-between align-items-center p-4">
            <h5>{{ trans('Email Preview') }}</h5>
            <i
                class="fa fa-times"
                style="cursor: pointer"
                @click="$modal.hide('email-preview')"
            ></i>
            </div>
            <hr class="p-0 m-0" />
            <div class="row p-4 h-100">
            <embed
                class="w-100 h-100"
                :src="  
                '/company/preview-invite-customers'
                "
            />
            </div>
        </modal>
    </div>
   </div>
</template>

<script>
import axios from "axios";
import ClassicEditor from "ckeditor5-otzivio-build";
import CKEditor from "@ckeditor/ckeditor5-vue2";
import { trans } from "../trans";
import { CloudinaryUnsigned } from 'puff-puff/CKEditor'

export default({
    components: {
        ckeditor: CKEditor.component,
    },
    props:{
        settings:{
            type:Object,
            required:true,
        },
        isDefaultInvitationEmail:{
            type:Boolean,
            default:true,
        },
        isDefaultReminderEmail:{
            type:Boolean,
            default:true,
        }
    },
    data(){
        return{
            isLoading:false,
            cloudName:"hashtag-shopbuddy-ltd",
            presetName:"otzivio",
            editor: ClassicEditor,
            localSettings:JSON.parse(JSON.stringify(this.settings)),
            editorConfig: {
                fontFamily:{
                    options:[
                        'Arial, Helvetica, sans-serif',
                        'Courier New, Courier, monospace',
                        'Georgia, serif',
                        'Lucida Sans Unicode, Lucida Grande, sans-serif',
                        'Tahoma, Geneva, sans-serif',
                        'Times New Roman, Times, serif',
                        'Trebuchet MS, Helvetica, sans-serif',
                        'Verdana, Geneva, sans-serif'
                    ]
                },
                image: {
                    resizeUnit: 'px',
                    styles: [
                        'alignLeft', 'alignCenter', 'alignRight'
                    ],
                    resizeOptions: [
                        {
                            name: 'resizeImage:original',
                            label: 'Original',
                            value: null
                        },
                        {
                            name: 'resizeImage:50',
                            label: '50%',
                            value: '50'
                        },
                        {
                            name: 'resizeImage:75',
                            label: '75%',
                            value: '75'
                        }
                    ],
                    toolbar: [
                        'imageStyle:alignLeft', 'imageStyle:alignCenter', 'imageStyle:alignRight',
                        '|',
                        'resizeImage',
                        '|',
                        'imageTextAlternative'
                    ]
                },
                toolbar: {
                    items: [
                        'heading',
                        'fontFamily',
                        '|',
                        'fontSize',
                        'fontColor',
                        'bold',
                        'italic',
                        'link',
                        'bulletedList',
                        'numberedList',
                        '|',
                        'alignment',
                        'outdent',
                        'indent',
                        '|',
                        'imageInsert',
                        'blockQuote',
                        'insertTable',
                        'undo',
                        'redo',
                    ]
                },
                language: 'en',
                table: {
                    contentToolbar: [
                        'tableColumn',
                        'tableRow',
                        'mergeTableCells'
                    ]
                },
            },

        }
    },
    methods:{
        sendEmbedData(){
            this.isLoading = true;
            axios.post("/api/company/cache-template", {
                template: this.invitationEmail,
            }).then(res=>{
                this.$modal.show('email-preview')
            }).finally(e=>{
                this.isLoading =false
            })
        },
        trans,
        onReadyEditor1( editor )  {
            editor.ui.getEditableElement().parentElement.insertBefore(
                    editor.ui.view.toolbar.element,
                    editor.ui.getEditableElement()  
            );
            editor.plugins.get('FileRepository').createUploadAdapter = ( loader ) => {
                return new CloudinaryUnsigned( loader, this.cloudName, this.presetName, [ 160, 500, 1000, 1052 ]);
            };
            if(!this.isDefaultInvitationEmail) return;
            editor.execute( 'selectAll' );
            editor.execute( 'fontFamily', { value: 'Arial, Helvetica, sans-serif' } );
        },
        onReadyEditor2( editor )  {
            editor.ui.getEditableElement().parentElement.insertBefore(
                    editor.ui.view.toolbar.element,
                    editor.ui.getEditableElement()  
            );
            editor.plugins.get('FileRepository').createUploadAdapter = ( loader ) => {
                return new CloudinaryUnsigned( loader, this.cloudName, this.presetName, [ 160, 500, 1000, 1052 ]);
            };
            if(!this.isDefaultReminderEmail) return;
            editor.execute( 'selectAll' );
            editor.execute( 'fontFamily', { value: 'Arial, Helvetica, sans-serif' } );
        },

        updateEmailTemplate() {
            if (this.isLoading) return;
            this.isLoading = true;
            axios
                .post("/api/company/update-email-template",{
                    invitation_email_subject:this.localSettings.invitation_email_subject,
                    invitation_email_template:this.localSettings.invitation_email_template,
                    reminder_email_subject:this.localSettings.reminder_email_subject,
                    reminder_email_template:this.localSettings.reminder_email_template,
                })
                .then((res) => {
                    sweetAlert(
                        trans( "Template Updated"),
                        trans("Your email template has been updated successfully!"),
                        "success"
                    );
                    this.isLoading = false;
                })
                .catch(() => {
                    sweetAlert(
                        trans( "Error"),
                        trans("Make sure all the fields have at least 10 characters and are not empty"),
                        "error"
                    );
                    this.isLoading = false;
                });
        },
    }

})
</script>
