<template>

   <div>
        <div class="row">
            <div class="col-12">
                <h5 class="d-block">
                    {{ trans('Timing and Frequency') }}
                </h5>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="sender-name">{{ trans('Send a service review invitation') }}</label>
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-6">
                             <select class="form-select w-100" style="height:40px;padding:8px" v-model="localSettings.send_invitation_after">
                                <option v-for="option in [0,1,2,3,4,5,6,7]" :key="option+'_day'" v-bind:value="option">
                                    {{ option + (option>1 ? ' days':' day') }}
                                </option>
                             </select>
                        </div>
                        <div class="col-md-9 col-sm-6">
                            <p class="m-0">{{ trans('after your customer’s order') }}</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="form-group">
                    <label for="sender-name">{{ trans('Send an invitation reminder') }}</label>
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-6">
                             <select class="form-select w-100" style="height:40px;padding:8px" v-model="localSettings.send_reminder_after">
                                <option v-for="option in [0,1,2,3,4,5,6,7,14,21,28]" :key="option+'_reminder_day'" v-bind:value="option">
                                    {{ (option>7?option/7:option) + (option>1 ? (option<=7 ? ' days' : ' weeks'):' day') }}
                                </option>
                             </select>
                        </div>
                        <div class="col-md-9 col-sm-6">
                            <p class="m-0">{{ trans("if they don't leave a review") }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-0 pb-0 d-flex justify-content-end">
                <button class="btn btn-success d-flex align-items-center" @click="updateInvitationSettings" :disabled="isLoading">
                        <span>{{ trans('Update') }}</span>
                </button>
            </div>
        </div>
   </div>
</template>

<script>
import axios from "axios";
import { trans } from "../trans";
 
export default({
    props:{
        settings:{
            type:Object,
            required:true,
        },
    },
    methods:{
        trans,
        updateInvitationSettings(){
            this.isLoading = true;
            axios.post("/api/company/update-invitation-settings", {
                send_invitation_after:this.localSettings.send_invitation_after,
                send_reminder_after:this.localSettings.send_reminder_after
            })
            .then((res) => {
                sweetAlert(
                    trans( "Settings Updated"),
                    trans("Settings has been updated successfully!"),
                    "success"
                );
                this.isLoading = false;
            })
            .catch((err) => {
                sweetAlert(
                    trans("Something went wrong"),
                    trans("Sorry, something went wrong"),
                    "error"
                );
                this.isLoading = false;
            });
        }
    },
    created(){
        this.localSettings = JSON.parse(JSON.stringify(this.settings))
    },
    data(){
        return{
            isLoading:false,
            localSettings:{}
        }
    },
})
</script>
