<template>
  <div>
    <vue-step-progress-indicator
      :steps="steps"
      :active-step="currentStep"
      :is-reactive="false"
    />

    <div class="row" style="overflow: hidden">
      <div class="card w-100">
        <div v-if="currentStep == 0">
          <h4>{{ trans('company_invite_customers_upload_file') }}</h4>
          <div class="row">
            <div class="col-8">
              <p class="text-muted">
                {{ trans('company_invite_customers_upload_details') }}
              </p>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-12">
              <p>
                {{ trans('Please select a .csv file. Need an example?') }}
                <a href="/download-invitation-sample">{{ trans('Download Sample') }}</a>
              </p>

              <p class="p-4 bg-error" v-if="errorExcelFilePath != null">
                <i class="fa fa-exclamation-circle mr-2"></i>
                {{ trans('The file you chose had some errors. Please review the errors before uploading again.') }}
                <a :href="'/public/storage/' + errorExcelFilePath"
                  >{{ trans('View Errors') }}</a
                >
              </p>

              <div class="upload-btn-wrapper">
                <button class="btn file-upload-button w-100">
                  <vue-simple-spinner v-if="isLoading"></vue-simple-spinner>
                  <div v-else>
                    <p><i class="fa fa-upload"></i></p>
                    <p v-if="uploadedFileName == null">{{ trans('Upload a file') }}</p>
                    <p v-else>{{ uploadedFileName }}</p>
                  </div>
                </button>
                <input type="file" @change="onFileUpload" name="myfile" />
              </div>
            </div>
          </div>
        </div>

        <!-- step 1 end -->
        <div v-if="currentStep == 1">
          <h4>{{ trans('Does your customer data look correct?') }}</h4>
          <div class="row">
            <div class="col-8">
              <h6 class="text-muted">
                {{ trans('Before proceeding, please check that your customer data does not contain any invalid characters, e.g. symbols rather than letters.') }}
              </h6>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-12">
              <p>
                {{ trans('If the preview looks correct, you can continue to the next step.') }}
              </p>
              <p class="p-4 bg-no-error">
                <i class="fa fa-check-circle mr-2"></i>
                {{ trans('Looks good. The file contains') }}
                {{ uploadedCustomers.length }} {{ trans('line(s)') }}
              </p>
              <table class="table px-2 mt-2 table-bordered">
                <thead>
                  <tr>
                    <th scope="col">{{ trans('Customer Email') }}</th>
                    <th scope="col">{{ trans('Customer Name') }}</th>
                    <th scope="col">{{ trans('Reference Number') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="customer in uploadedCustomers"
                    :key="customer.name"
                  >
                    <th>{{ customer["email"] }}</th>
                    <td>{{ customer["name"] }}</td>
                    <td>{{ customer["reference_number"] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- step 1 end -->
        <!-- step 2 begin -->
        <div v-if="currentStep == 2">
          <h4>{{ trans('Sender Information') }}</h4>
          <div class="row">
            <div class="col-8">
              <h6 class="text-muted">
                {{ trans('Set up your Sender Name and Sender Email - they appear in your customers’ inboxes when they receive your email invitation. The Reply-to Email is the address you’d like your customers to use when replying to your email.') }}
              </h6>
            </div>
          </div>

          <div class="row">
            <modal name="add-reply-to-email" width="500px" height="auto">
              <div
                class="d-flex justify-content-between align-items-center p-4"
              >
                <h5>{{ trans('Verify Address') }}</h5>
                <i
                  class="fa fa-times"
                  style="cursor: pointer"
                  @click="$modal.hide('add-reply-to-email')"
                ></i>
              </div>
              <hr class="p-0 m-0" />
              <div class="row p-4">
                <div class="input-group mx-auto" style="width: 400px">
                  <input
                    v-model="siteEmail"
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    style="height: 40px"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">{{
                      "@" + site.url
                    }}</span>
                  </div>
                </div>
              </div>
              <hr class="p-0 m-0" />
              <div
                class="d-flex bg-grey justify-content-end align-items-center p-3"
              >
                <button
                  class="btn btn-secondary"
                  @click="$modal.hide('add-reply-to-email')"
                >
                  {{ trans('Cancel') }}
                </button>
                <button
                  class="ml-1 btn btn-success d-flex align-items-center"
                  :disabled="isLoading || siteEmail.length <= 2"
                  @click="addSiteEmail"
                >
                  <vue-simple-spinner
                    :size="'22'"
                    v-if="isLoading"
                    style="width:40px;display:inline-block"
                  ></vue-simple-spinner>
                  <span>{{ trans('Send Verification') }}</span>
                </button>
              </div>
            </modal>
            <div class="col-12">
              <div class="form-group">
                <label for="sender-name">{{ trans('Subject') }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="subject-name"
                  v-model="subject"
                />
              </div>
              <div class="form-group">
                <label for="sender-name">{{ trans('Sender Name') }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="sender-name"
                  v-model="senderName"
                />
              </div>
              <div class="form-group">
                <label for="reply-to-email">{{ trans('Reply-to Email') }}</label>
                <select
                  v-model="senderEmail"
                  class="form-control"
                  value="email"
                >
                  <option v-for="email in emails" :name="email" :key="email">
                    {{ email }}
                  </option>
                </select>
              </div>
              <p
                style="text-decoration: underline; cursor: pointer"
                @click="$modal.show('add-reply-to-email')"
              >
                {{ trans('Add another Reply-to Email') }}
              </p>
            </div>
          </div>
        </div>
        <!-- step 2 end -->
        <!-- step 3 begin -->
        <div v-if="currentStep == 3">
          <h4>{{ trans('Create your invitation email') }}</h4>
          <div class="row">
            <div class="col-8">
              <h6 class="text-muted">
                {{ trans('Use our optimized invitation email template or customize it to fit your brand. You can modify the text, color, font.') }}
              </h6>
            </div>
          </div>

          <div class="row mt-3">
            <!-- <div class="col-12 d-flex justify-content-end mb-2">
              <button @click="viewCodeEditor()" type="button" class="btn btn-sm btn-outline-secondary"> <i class="fa fa-code"></i> {{trans('Edit code')}}</button>
            </div> -->
            <div class="col-12">
              <ckeditor
                :editor="editor"
                v-model="editorData"
                :config="editorConfig"
                @ready="onReady"
              ></ckeditor>
            </div>
            <div class="col-12 mt-3">
              <p class="font-italic">
                {{ trans('Otzivio automatically includes a legal notice and unsubscribe link to the footer of all invitation emails. Click Show preview of email to view it.') }}
              </p>
            </div>
          </div>
          <div class="row mb-4 justify-content-end">
            <div class="m-0 col-lg-6 col-md-12 mb-2">
              <button
                @click="testInvitation"
                class="no-margin btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center"
                :disabled="isLoading"
              >
                <vue-simple-spinner
                  :size="'24'"
                  v-if="isLoading"
                  style="display:inline-block"
                ></vue-simple-spinner>
                <p class="p-0 m-0 ml-2" style="display:inline-block" >
                  {{ trans('Send Test Email To') +" "+ senderEmail }}
                </p>
              </button>
            </div>
            <!-- <div class="m-0 col-lg-4 col-md-12">
              <button
                :disabled="isLoading"
                @click="sendEmbedData()"
                class="no-margin btn btn-outline-secondary w-100"
              >
                <p class="p-0 m-0">{{ trans('Show preview of email') }}</p>
              </button>
            </div> -->
          </div>
        </div>
        <!-- step 3 end -->

        <!-- step 4 begin -->
        <div v-if="currentStep == 4">
          <h4>{{trans('Invitations are ready to go')}}!</h4>
          <div class="row">
            <div class="col-8">
              <h6 class="text-muted">
                {{ trans('Review the details before you hit send') }}:
              </h6>
            </div>
          </div>

          <div class="row mt-3 w-100">
            <div class="col-12">
              <div class="grid">
                <div class="grid-element">{{trans('Email Subject')}}:</div>
                <div class="grid-element">{{ subject }}</div>
                <div class="grid-element">{{trans('Sender Name')}}:</div>
                <div class="grid-element">{{ senderName }}</div>
                <div class="grid-element">{{trans('Sender Email')}}:</div>
                <div class="grid-element">noreply@otziv.com</div>
                <div class="grid-element">{{trans('Reply-to Email')}}:</div>
                <div class="grid-element">{{ senderEmail }}</div>
                <div class="grid-element">
                  {{trans('Total number of lines in the CSV file')}}::
                </div>
                <div class="grid-element">{{ uploadedCustomers.length }}</div>
              </div>
              <p>{{trans('Invitations will be scheduled and sent as soon as possible.')}}</p>
            </div>
          </div>
        </div>

        <!-- step 4 end -->

        <!-- step 5 begin -->
        <div v-if="currentStep == 5">
          <vue-simple-spinner
            :size="'24'"
            v-if="isLoading"
          ></vue-simple-spinner>
          <h4 v-else>{{trans('We’ll be sending your invitations shortly.')}}</h4>
          <div class="row">
            <div class="col-8">
              <h6 class="text-muted">
                {{trans('You can always check the status of your invitations in invitation history.')}}
              </h6>
            </div>
          </div>

          <div class="row mt-3 w-100 mb-3">
            <div class="col-12">
              <div class="btn btn-primary btn-md" @click="reloadPage()">
                {{trans('Invite More Customers')}}
              </div>
            </div>
          </div>
        </div>

        <!-- step 5 end -->

        <!-- control buttons start -->
        <div
          class="row d-flex mt-2 p-0"
          style="min-width: 200px"
          v-if="currentStep != steps.length - 1"
        >
          <div class="col-6 d-flex justify-content-start">
            <button
              v-if="currentStep != 0"
              class="btn btn-secondary back-btn btn-success"
              @click="previousStep"
            >
              {{trans('Back')}}
            </button>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <button
              class="btn btn-secondary next-btn"
              :class="{ 'btn-success': uploadedCustomers.length > 0 }"
              :disabled="uploadedCustomers.length < 0"
              @click="nextStep"
            >
              {{ this.currentStep == this.steps.length - 2 ? trans("Send Invitations"): trans('Next')}}
            </button>
          </div>
        </div>
        <!-- control buttons end -->
      </div>
    </div>

    <!-- email preview model -->
    <div class="row m-0 p-0">
      <modal name="email-preview" width="800px" height="800px">
        <div class="d-flex justify-content-between align-items-center p-4">
          <h5>{{ trans('Email Preview') }}</h5>
          <i
            class="fa fa-times"
            style="cursor: pointer"
            @click="$modal.hide('email-preview')"
          ></i>
        </div>
        <hr class="p-0 m-0" />
        <div class="row p-4 h-100">
          <embed
            class="w-100 h-100"
            :src="  
              '/company/preview-invite-customers'
            "
          />
        </div>
      </modal>
    </div>
    <!-- template code preview model -->
    <div class="row m-0 p-0">
      <modal name="code-preview" width="800px" height="616px">
        <div class="d-flex justify-content-between align-items-center p-4">
          <h5>{{ trans('Code Preview') }}</h5>
          <i
            class="fa fa-times"
            style="cursor: pointer"
            @click="$modal.hide('code-preview')"
          ></i>
        </div>
        <hr class="p-0 m-0" />
        <div class="row p-4">
          <div class="codeEditor" contenteditable="true" @input="updateCode" v-text="editorData" style="height:400px"></div>
        </div>
        <hr class="p-0 m-0" />
        <div class="d-flex justify-content-end align-items-center p-4">
          <button @click="updateEditorFromCode()" class="btn btn-outline-secondary">{{trans('Update')}}</button>
        </div>
      </modal>
    </div>
  </div>
</template>



<script>
import VueStepProgressIndicator from "vue-step-progress-indicator";
import Spinner from "vue-simple-spinner";
import axios from "axios";
import ClassicEditor from "ckeditor5-otzivio-build";
import CKEditor from "@ckeditor/ckeditor5-vue2";
import { trans } from "../trans";
import { CloudinaryUnsigned } from 'puff-puff/CKEditor'

export default {
  components: {
    Spinner,
    VueStepProgressIndicator,
    ckeditor: CKEditor.component,
  },

  props: {
    pendingInvitation: {
      required: false,
      default: null,
    },
    user: {
      type: Object,
      required: true,
    },
    emails: {
      type: Array,
      required: true,
    },
    site: {
      type: Object,
      required: true,
    },
    template: {
      type: String,
      required: true,
    },
    emailSubject: {
      type: String,
      required: true,
    },
    isDefaultTemplate: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      cloudName:"hashtag-shopbuddy-ltd",
      presetName:"otzivio",
      steps: [
        trans('Import File'),
        trans('Confirm Data'),
        trans('Set Up'),
        trans('Select Template'),
        trans('Send Invitations'),
        trans('Done'),
      ],
      currentStep: 0,
      isLoading: false,
      errorExcelFilePath: null,
      uploadedFileName: null,
      uploadedCustomers: [],
      siteEmail: "",
      senderName: "",
      subject:"",
      senderEmail: null,
      inviteId: null,
      editor: ClassicEditor,
      cloudinary:null,
      editorData: "",
      codeEditorData:"",
      editorConfig: {
        image: {
            resizeUnit: 'px',
            styles: [
                'alignLeft', 'alignCenter', 'alignRight'
            ],
            resizeOptions: [
                {
                    name: 'resizeImage:original',
                    label: 'Original',
                    value: null
                },
                {
                    name: 'resizeImage:50',
                    label: '50%',
                    value: '50'
                },
                {
                    name: 'resizeImage:75',
                    label: '75%',
                    value: '75'
                }
            ],
            toolbar: [
                'imageStyle:alignLeft', 'imageStyle:alignCenter', 'imageStyle:alignRight',
                '|',
                'resizeImage',
                '|',
                'imageTextAlternative'
            ]
        },
        toolbar: {
					items: [
						'heading',
						'fontFamily',
						'|',
						'fontSize',
						'fontColor',
						'bold',
						'italic',
						'link',
						'bulletedList',
						'numberedList',
						'|',
						'alignment',
						'outdent',
						'indent',
						'|',
						'imageInsert',
						'blockQuote',
						'insertTable',
						'undo',
						'redo',
					]
				},
				language: 'en',
				table: {
					contentToolbar: [
						'tableColumn',
						'tableRow',
						'mergeTableCells'
					]
				},
      },
    };
  },
  methods: {
    sendEmbedData(){
      this.isLoading = true;
      axios.post("/api/company/cache-template", {
          template: this.editorData,
      }).then(res=>{
          this.$modal.show('email-preview')
      }).finally(e=>{
        this.isLoading =false
      })
    },
    updateEditorFromCode(){
      this.editorData = this.codeEditorData;
      this.$modal.hide('code-preview')
    },
    viewCodeEditor(){
      this.codeEditorData = this.editorData;
      this.$modal.show('code-preview')
    },
    updateCode(e){
      this.codeEditorData =e.target.innerText;
    },
    onReady( editor )  {
      // Insert the toolbar before the editable area.
      editor.ui.getEditableElement().parentElement.insertBefore(
              editor.ui.view.toolbar.element,
              editor.ui.getEditableElement()  
      );
      editor.plugins.get('FileRepository').createUploadAdapter = ( loader ) => {
        return new CloudinaryUnsigned( loader, this.cloudName, this.presetName, [ 160, 500, 1000, 1052 ]);
      };

      if(!this.isDefaultTemplate) return;
      editor.execute( 'selectAll' );
      editor.execute( 'fontFamily', { value: 'Arial, Helvetica, sans-serif' } );
    },
    onFileUpload(event) {
      let file = event.target.files ? event.target.files[0] : null;
      if (file) {
        this.uploadedFileName = file.name;
        this.submitExcelFile(file);
      }
    },

    addSiteEmail() {
      if (this.isLoading) return;
      this.isLoading = true;
      axios
        .post("/api/company/add-email", {
          email: this.siteEmail + "@" + this.site.url,
        })
        .then((res) => {
          if (res.data.success == false) {
            if (res.data.status == "email_exists")
              sweetAlert(
                trans("Email Already Exists"),
                trans("This Email has already been added!"),
                "warning"
              );
            else if (res.data.status == "invalid_email")
              sweetAlert(
                "Invalid Email Address",
                "The Email address is not valid!",
                "error"
              );
          } else {
            sweetAlert(
             trans( "Email Verification"),
              trans("We have sent you an email for verification. Please check you email to verify."),
              "success"
            );
            this.$modal.hide("add-reply-to-email");
          }
          this.isLoading = false;
        })
        .catch((err) => {
          sweetAlert(
            trans("Something went wrong"),
            trans("Sorry, something went wrong"),
            "error"
          );
          this.isLoading = false;
        });
    },

    submitExcelFile(file) {
      if (this.isLoading) return;
      this.isLoading = true;

      const formData = new FormData();
      formData.append("excel", file);
      formData.append("file_name", file.name);
      if (this.inviteId != null) formData.append("invite_id", this.inviteId);

      axios
        .post("/api/import-customers", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((res) => {
          if (res.data.success == false) {
            this.uploadedCustomers = [];
            if (res.data.status == "invalid_file_type")
              sweetAlert(
                trans("Invalid File Type"),
                trans("The file type is not supported!"),
                "error"
              );
            if (res.data.status == "empty_file") {
              sweetAlert(
                trans("Empty File"),
                trans("The excel file doesnot contain any data!"),
                "warning"
              );
            } else if (res.data.status == "invalid_data") {
              this.errorExcelFilePath = res.data.data.file;
              sweetAlert(
                trans("Invalid Data"),
                trans("There were some errors in the excel file!"),
                "error"
              );
            }

            return;
          }

          this.uploadedCustomers = res.data.data.customers;
          this.inviteId = res.data.data.invitation["id"];
          this.errorExcelFilePath = null;
          this.currentStep++;
        })
        .catch((err) => {
          sweetAlert(
            trans("Something went wrong"),
            trans("Sorry, something went wrong"),
            "error"
          );
        });

      this.isLoading = false;
    },
    previousStep: function () {
      this.currentStep--;
    },
    nextStep: function () {
      if (this.currentStep == this.steps.length - 2) {
        this.inviteCustomers();
      }
      this.currentStep++;
    },
    inviteCustomers: function () {
      if (this.isLoading) return;
      this.isLoading = true;
      axios
        .post("/api/invite-customers", {
          sender_email: this.senderEmail,
          sender_name: this.senderName,
          subject:this.subject,
          email_template: this.editorData,
          invite_id: this.inviteId,
        })
        .then((res) => {
          this.isLoading = false;
          if (res.data.success == false) {
            sweetAlert("Invalid Data", "Validation Failed", "error");
            return;
          }
        })
        .catch((err) => {
          sweetAlert(
            trans("Something went wrong"),
            trans("Sorry, something went wrong"),
            "error"
          );
          this.isLoading = false;
        });
    },
    testInvitation: function () {
      if (this.isLoading) return;
      this.isLoading = true;
      axios
        .post("/api/test-invite-customers", {
          sender_email: this.senderEmail,
          sender_name: this.senderName,
          subject:this.subject,
          email_template: this.editorData,
        })
        .then((res) => {
          this.isLoading = false;
           sweetAlert(
            trans("Test Email Delivered"),
            trans("Please check your email inbox to view the email"),
            "success"
          );
        })
        .catch((err) => {
          sweetAlert(
            trans("Something went wrong"),
            trans("Sorry, something went wrong"),
            "error"
          );
          this.isLoading = false;
        });
    },
    reloadPage: function () {
      window.location.reload();
    },
    trans
  },

  mounted() {
    if (this.pendingInvitation) {
      this.currentStep = 1;
      this.uploadedCustomers = this.pendingInvitation["invited_customers"];
      this.uploadedFileName = this.pendingInvitation["file_name"];
      this.inviteId = this.pendingInvitation["id"];
    }
    this.senderName = this.user.name;
    this.subject = this.emailSubject;
    this.senderEmail = this.user.email;
    this.editorData = this.template;
  },
};
</script>


<style scoped>
.file-upload-button {
  height: 160px;
  background: transparent;
  border: 2px solid grey;
  border-radius: 4px;
}

.back-btn,
.next-btn {
  min-width: 100px;
}
.upload-btn-wrapper {
  position: relative;
}
.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  opacity: 0;
}
.bg-error {
  background: rgb(251, 209, 204);
}
.bg-no-error {
  background: rgb(204, 240, 228);
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.grid-element {
  color: rgb(69, 69, 84);
  text-align: left;
  margin: 0px 0px 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.codeEditor{
  border: 1px grey solid;
  overflow: scroll;
}
@media (min-width: 992px) {
  .no-margin {
    margin: 0 !important;
  }
}
</style>