<template>
   <div class="questionnaire-section">
        <h1 class="pt-2 pb-2">
            {{ trans('Writing reviews helps build trust online!') }}
        </h1>
        <h3 class="pt-2 pb-2" style="color:#3d4852">
            {{ currentCategory.question }}
        </h3>
        <div class="row my-3 px-3 questionnaire-container">
            <div @click="redirectTo(site.evaluation_url)"  v-for="(site) in currentCategory.sites" :key="site.id"  class="d-flex align-self-stretch col col-lg-2 col-md-3 col-sm-4 col-6 p-1">
                <div class="site p-2 align-self-stretch w-100">
                    <img :src="`/${site.featured_image}`" class="img-thumbnail w-100" style="height:100px;object-fit:cover;object-position:center">
                    <p class="text-center w-100 p-0 m-0 site-name">{{site.business_name}}</p>
                </div>
            </div>
        </div>
        <div class="mt-2 categories-container">
            <button @click="selectedCategory=index" v-for="(category,index) in categories" :key="category.id" :class="`text-center categories mr-2 mt-2 ml-0 btn ${ selectedCategory == index ? 'btn-primary': 'btn-outline-primary'}`">
                {{category.name}}
            </button>
        </div>
   </div>
</template>

<script>
import { trans } from "../trans";
 
export default({
    props:{
        categories:{
            type:Array,
            required:true,
        },
    },
    computed:{
        currentCategory(){
            return this.categories[this.selectedCategory]
        }
    },
    data(){
        return {
            selectedCategory:0,
        }
    },
    methods:{
        trans,    
        redirectTo(url){
            window.open(url, '_blank').focus();
        }
    },

})
</script>

<style scoped>
.categories.btn-outline-primary{
    color: #007bff !important;
}
.categories:hover{
    color: white !important;
}


.questionnaire-container{
    /*max-height: 250px;*/
    overflow-y: auto;
}
.categories-container{
    max-height: 50px;
    display: flex;
    overflow-x: auto;
}
.site{
    background: #f2f2f2;
    border-radius: 4px;
    cursor:pointer;
}
.site-name{
    font-size:14px;
    line-height: 1.4;
}
</style>